<h1 class="page-header">Dashboard</h1>
<p>Here is a quick snapshot of your activities in the past week</p>

<div ng-controller="DashboardController" id='outer' class="container-fluid">
    <div id="updateAlert" class="alert alert-danger alert-dismissible" role="alert" ng-show="model.rootScope.errorMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="model.rootScope.errorMessage = null"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> {{model.rootScope.errorMessage}}
    </div>
    <div id="deviceContainer" class="row newSection" ng-if="vm.activityData == null">
        <blockquote>
            <p>FitBit Sync</p>
            <small>Connect your FitBit account</small>
        </blockquote>
        <div class="col-sm-12 input-group">
            <button type="button" ng-click="model.connectAccount()" class="btn btn-warning">Sync with Fitbit</button>
        </div>
    </div>

    <div class="row" ng-if="model.data">
        <canvas id="line" class="chart chart-line" chart-data="model.data"
                chart-labels="model.labels" chart-legend="true" chart-series="model.series"
                chart-click="model.chartHandle">
        </canvas>
    </div>

    <div id="main" class="row newSection" ng-if="model.todayStepData">
        <blockquote>
            <p>Glance</p>
            <small>A snapshot of your physical activities today</small>
        </blockquote>

        <div class="col-sm-4">
            <canvas id="stepDoughnut" class="chart chart-doughnut" chart-legend="true"
                    chart-data="model.todayStepData" chart-labels="model.todayStepLabels">
            </canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="caloriesDoughnut" class="chart chart-doughnut" chart-legend="true"
                    chart-data="model.todayCaloriesData" chart-labels="model.todayCaloriesLabels">
            </canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="distanceDoughnut" class="chart chart-doughnut" chart-legend="true"
                    chart-data="model.todayDistanceData" chart-labels="model.todayDistanceLabels">
            </canvas>
        </div>

        <!--div id="div1" class="col-sm-3"></div>
        <div id="div2" class="col-sm-3"></div>
        <div id="div3" class="col-sm-3"></div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#newGoalModal">Add a new goal</button>
            <button type="button" class="btn btn-default">View goals</button>
        </div-->
    </div>

    <!-- New Goal Modal -->
    <div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newGoalLabel">Add a personal goal</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Calories: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.calories" type="number" class="form-control" placeholder="Calories">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Weight: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.weight" type="number" class="form-control" placeholder="Weight">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Fat: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.fat" type="number" class="form-control" placeholder="Fat">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Steps: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.steps" type="number" class="form-control" placeholder="Steps">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Distance: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.distance" type="number" class="form-control" placeholder="Distance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Duration: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.duration" type="number" class="form-control" placeholder="Duration">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Floors: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.floors" type="number" class="form-control" placeholder="Floors">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Date: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.date" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row newSection">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h5>Goal Type</h5>
                            <label class="checkbox-inline">
                                <input ng-model="model.weightGoal" type="checkbox" value="weight" />
                                Weight
                            </label>
                            <label class="checkbox-inline">
                                <input ng-model="model.sleepGoal" type="checkbox" value="sleep" />
                                Sleep
                            </label>
                            <label class="checkbox-inline">
                                <input ng-model="model.activityGoal" type="checkbox" value="activity" />
                                Activity
                            </label>
                            <label class="checkbox-inline">
                                <input ng-model="model.fatGoal" type="checkbox" value="fat" />
                                Fat
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Add Goal</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="teamsContainer" class="row newSection" ng-if="model.myTeams.length > 0">
        <blockquote>
            <p>Teams <span class="badge">1</span></p>
            <small>Your affiliations</small>
        </blockquote>

        <div ng-repeat="team in model.myTeams" class="col-sm-6">
            <div class="media alert alert-warning" role="alert" ng-click="model.location.url('/team/' + team._id)">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" width="50px" ng-src="{{team.image}}" alt="team.name">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{team.name}}</h4>
                    {{team.description}}
                </div>
            </div>
        </div>
    </div>
</div>