<div ng-controller="MembersController" id='outer' class="container-fluid newSection">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive img-circle" ng-src="{{model.currentTeam.image}}" alt="image">
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12"><h1 class="page-header">{{model.currentTeam.name}}</h1></div>
            </div>
            <div class="row">
                <div class="col-sm-12">{{model.currentTeam.description}}</div>
            </div>
            <div class="row newSection">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateTeamModal"
                            ng-click="model.selectTeam()">
                        Update Team Details
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#updateTeamModal">
                        Delete Team
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row newSection">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="divider"></div>
        </div>
    </div>

    <div id="main" class="row newSection">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 input-group">
                <div angucomplete-alt
                     id="members"
                     placeholder="Enter name to search..."
                     pause="400"
                     selected-object="model.addingUser"
                     remote-url="/api/project/user/search/"
                     title-field="firstName,lastName"
                     description-field="email"
                     input-class="form-control form-control-small"
                     match-class="highlight">
                </div>

            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="model.addToTeam(model.addingUser)">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </span>
            </div>
        </div>

        <div class="row newSection">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span id="helpBlock" class="help-block">Click on any team member to assign personal goals</span>
            </div>
        </div>

        <div class="row newSection">
            <div ng-repeat="currMember in model.currTeamMembers" class="col-sm-6">
                <div class="media alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            ng-click="model.deleteTeamMember(currMember.username)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="media-left" ng-click="model.selectMember(currMember.username)">
                        <a href="#">
                            <img class="media-object" width="50px" ng-src="{{currMember.image}}" alt="image">
                        </a>
                    </div>
                    <div class="media-body" ng-click="model.selectMember(currMember.username)">
                        <h4 class="media-heading">{{currMember.firstName}} {{currMember.lastName}}</h4>
                        <h4 class="media-heading">{{currMember.username}}</h4>
                        {{currMember.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <!-- New Team Member Modal -->
    <div class="modal fade" id="newMemberModal" tabindex="-1" role="dialog" aria-labelledby="newMemberModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newMemberModalLabel">Add a member to your team</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div ng-repeat="currMember in model.searchResults" class="col-sm-6">
                            <div class="media alert alert-warning" role="alert" ng-click="model.addToTeam(currMember._id)">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" width="50px" ng-src="{{currMember.image}}" alt="currMember.username">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{currMember.firstName}} {{currMember.lastName}}</h4>
                                    <h4 class="media-heading">{{currMember.username}}</h4>
                                    {{currMember.email}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Team Modal -->
    <div class="modal fade" id="updateTeamModal" tabindex="-1" role="dialog" aria-labelledby="updateTeamModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateTeamModalLabel">Update Team Info</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Team Name: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.updatedTeamName" type="text" class="form-control" placeholder="Team name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Description: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <textarea ng-model="model.updatedTeamDesc" class="form-control" rows="3" placeholder="Team name"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div>Image: </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                            <input ng-model="model.updatedTeamImage" type="url" class="form-control" placeholder="Team logo URL">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="model.updateTeam()">Update Team</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTeamModal" tabindex="-1" role="dialog" aria-labelledby="deleteTeamModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteTeamModalLabel">Delete {{model.currentTeam}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <img class="img-responsive" src="http://png.clipart.me/graphics/thumbs/134/prohibition-sign_134537165.jpg" alt="Block User">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            All the current members in your team will loose out on tracking each other if you perform this action.
                            Are you sure you want to delete this team?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="model.deleteTeam()">Delete Team</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>