<div ng-controller="TeamController">
    <h1 class="page-header">My Teams <span class="badge">{{model.myTeams.length}}</span></h1>
    <span id="helpBlock" class="help-block">Manage your team affiliations</span>

    <div id='outer' class="container-fluid newSection">
        <div id="updateAlert" class="alert alert-danger alert-dismissible" role="alert" ng-show="model.rootScope.errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="model.rootScope.errorMessage = null"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{model.rootScope.errorMessage}}
        </div>
        <div id="main" class="row">
            <div class="col-sm-12 input-group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newTeamModal">Add New
                    Team
                </button>
            </div>

            <div class="row newSection">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="divider"></div>
                </div>
            </div>

            <div class="row newSection">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 input-group">
                            <div angucomplete-alt
                                 id="members"
                                 placeholder="Search for a team by name..."
                                 pause="400"
                                 selected-object="model.addingTeam"
                                 remote-url="/api/project/team/search/"
                                 title-field="name"
                                 description-field="description"
                                 input-class="form-control form-control-small"
                                 match-class="highlight">
                            </div>

            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="model.addUserToTeam(model.addingTeam)">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row newSection">
                <div ng-repeat="team in model.myTeams" class="col-sm-6">
                    <div class="media alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                ng-click="model.deleteTeamMember(team._id)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="media-left" ng-click="model.location.url('/team/' + team._id)">
                            <img class="media-object" width="50px" ng-src="{{team.image}}" alt="team.name">
                        </div>
                        <div class="media-body" ng-click="model.location.url('/team/' + team._id)">
                            <h4 class="media-heading">{{team.name}}</h4>
                            {{team.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <!-- New Team Modal -->
        <div class="modal fade" id="newTeamModal" tabindex="-1" role="dialog" aria-labelledby="newTeamModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="newTeamModalLabel">Build a Team</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div>Team Name:</div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                                <input ng-model="model.newTeamName" type="text" class="form-control"
                                       placeholder="Team name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div>Description:</div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                                <textarea ng-model="model.newTeamDesc" class="form-control" rows="3"
                                          placeholder="Team name"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div>Image:</div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 control-edit-options">
                                <input ng-model="model.newTeamImage" type="url" class="form-control"
                                       placeholder="Team logo URL">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="model.createTeam()">Create Team</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>