<ul ng-controller="SidebarController" class="nav nav-sidebar">
    <li ng-class="{'active': $location.url() == '/home'}"><a href="#/home">Home</a></li>
    <li ng-class="{'active': $location.url() == '/user'}"><a href="#/user">User</a></li>
    <li ng-class="{'active': $location.url() == '/activity'}"><a href="#/activity">Activity</a></li>
    <li ng-class="{'active': $location.url() == '/fat'}"><a href="#/fat">Fat</a></li>
    <li ng-class="{'active': $location.url() == '/heart-rate'}"><a href="#/heart-rate">Heart Rate</a></li>
    <li ng-class="{'active': $location.url() == '/sleep'}"><a href="#/sleep">Sleep</a></li>
    <li ng-class="{'active': $location.url() == '/weight'}"><a href="#/weight">Weight</a></li>
    <li ng-class="{'active': $location.url() == '/goal'}"><a href="#/goal">Goal</a></li>
</ul>