<h1 class="page-header">Sleep Logs</h1>

<div class="table table-responsive no-border">
    <form ng-controller="SleepController">
        <table id="responsive-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th>Duration</th>
                <th>Restless Duration</th>
                <th>Time in Bed</th>
                <th>Logged Date</th>
                <th></th>
            </tr>
            </thead>
            <tr>
                <td data-title="Username">
                    <input ng-model="username" type="text" class="form-control" placeholder="Username">
                </td>
                <td data-title="Duration">
                    <input ng-model="duration" type="number" class="form-control" placeholder="Duration">
                </td>
                <td data-title="Restlessness">
                    <input ng-model="restlessDuration" type="number" class="form-control" placeholder="Restless Duration">
                </td>
                <td data-title="Time in Bed">
                    <input ng-model="timeInBed" type="number" class="form-control" placeholder="Time in bed">
                </td>
                <td data-title="Logged Date">
                    <input ng-model="loggedDate" type="Date" class="form-control">
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button ng-click="addSleepLog()" type="button" class="btn btn-default outline" aria-label="Add sleep log">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button ng-click="updateSleepLog()" type="button" class="btn btn-default outline" aria-label="Update sleep log">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="instance in sleepInstances" ng-class="{'success': instance._id==_id}">
                <td data-title="Username">
                    <a class="form-name" href="#" ng-click="loadSleepLogDetails(instance._id)">{{instance.username}}</a>
                </td>
                <td data-title="Duration">
                    <a class="form-name" href="#" ng-click="loadSleepLogDetails(instance._id)">{{instance.duration}}</a>
                </td>
                <td data-title="Restlessness">
                    <a class="form-name" href="#" ng-click="loadSleepLogDetails(instance._id)">{{instance.restlessDuration}}</a>
                </td>
                <td data-title="Time in Bed">
                    <a class="form-name" href="#" ng-click="loadSleepLogDetails(instance._id)">{{instance.timeInBed}}</a>
                </td>
                <td data-title="Logged Date">
                    <a class="form-name" href="#" ng-click="loadSleepLogDetails(instance._id)">{{instance.date}}</a>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button ng-click="deleteSleepLog(instance._id)" type="button" class="btn btn-default outline" aria-label="Remove sleep log">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button ng-click="selectSleepLog(instance)" type="button" class="btn btn-default outline" aria-label="Select sleep log">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>